<section class="py-12 px-48">
    <div class="container flex justify-between">
        <div class=""> 
            <p class="text-2xl">Quick Links</p>
            <ul>
                <li class="py-2 text-base font-light">
                    <a>Search</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['products']">Products</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a>Blogs</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['covid19']" href="#top">Covid-19</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['refund']" href="#top">Refund</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['shipping']" href="#top">Shipping policy</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['privacy']" href="#top">Privacy</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a [routerLink]="['serviceterms']" href="#top">Terms of Service</a>
                </li>
                <li class="py-2 text-base font-light">
                    <a>Contact Us</a>     
                </li>
            </ul>
            
        </div>
        <div>
            <p class="text-2xl">Contact</p>
            <br>
            <ul>
                <li class="font-bold text-base">
                    RINGMANN
                </li>
                <li class="py-1 font-light text-base">
                    S.F 192, Airy Garden,
                </li>
                <li class="py-1 font-light text-base">
                    Kannampalayam Road, Ravuthur Pirivu,
                </li>
                <li class="py-1 font-light text-base">
                    Coimbatore - 641 402
                </li>
                <li class="py-1 font-light text-base">
                    Tamil Nadu, INDIA
                </li>
                <br>
                <li class="py=1 font-light">
                    Email : sales@ringmann.in
                </li>
            </ul>
        </div>
        <div></div>
    </div>
</section>
