<section class="px-96 pt-48 pb-12">
    <div class="container flex justify-right">
        <div>
            <p class="text-4xl font-bold">
                Shipping policy
            </p>
            <p class="text-base font-light pt-5">
                Our Shipping Policy was last updated on Jan 01, 2022
            </p>
            <p class="text-2xl pt-5">
                Interpretation and Definitions
            </p>
            <p class="text-lg pt-5">
                Interpretation
            </p>
            <p class="text-base font-light pt-2">
                The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
            </p>
            <p class="text-lg pt-5">
                Definitions
            </p>
            <p class="text-base font-light pt-2">
                For the purposes of this Disclaimer:
            </p>
            <ul class="list-disc text-base font-light py-3 px-8">
                <li>"<span class="font-bold">Company</span>" (referred to as either "the Company", "We", "Us" or "Our" in this Disclaimer) refers to RINGMANN</li>
                <li>"<span class="font-bold">Goods</span>" refers to the items offered for sale on the Service.</li>
                <li>"<span class="font-bold">Orders</span>" means a request by You to purchase Goods from Us.</li>
                <li>"<span class="font-bold">Service</span>" refers to the Website.</li>
                <li>"<span class="font-bold">Website</span>" refers to ringmann, accessible from www.ringmann.in</li>
                <li>"<span class="font-bold">You</span>" means the individual accessing the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
            </ul>
            <p class="text-base font-light pt-2">
                Thank you for visiting and shopping at ringmann.in. The following terms and conditions constitute our Shipping Policy.
            </p>
            <p class="text-2xl pt-5">
                Domestic & International Shipping Policy
            </p>
            <p class="text-lg pt-5">
                Shipment processing times
            </p>
            <p class="text-base font-light pt-2">
                All Orders are processed within 2-12 weeks depending on the quantity. Orders are not shipped or delivered on weekends or holidays.
            </p>
            <p class="text-base font-light pt-2">
                If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days in transit for delivery. If there will be a significant delay in shipment of Your Order, We will contact You via email or telephone.
            </p>
            <p class="text-lg pt-5">
                Shipping rates & delivery estimates
            </p>
            <p class="text-base font-light pt-2">
                Shipping charges for Your Orders will be calculated and displayed at checkout.
            </p>
            <ul class="list-disc text-base font-light py-3 px-8">
                <li>Shipping method: Any logistics company serving your area</li>
                <li>Shipment cost: Free</li>
                <li>Estimated delivery time: 1-5 weeks depending on logistics provider</li>
            </ul>
            <p class="text-base font-light">
                Delivery delays can occasionally occur.
            </p>
            <p class="text-2xl pt-5">
                Shipment confirmation & Order tracking
            </p>
            <p class="text-base font-light pt-2">
                You will receive a Shipment Confirmation Email once Your Order has shipped containing your tracking number(s). The tracking number will be active within 24 hours.
            </p>
            <p class="text-2xl pt-5">
                Customs, Duties and Taxes
            </p>
            <p class="text-base font-light pt-2">
                Ringmann is not responsible for any customs and taxes applied to Your Order. All fees imposed during or after shipping are the responsibility of the customer (tariffs, taxes)
            </p>
            <p class="text-2xl pt-5">
                Damages
            </p>
            <p class="text-base font-light pt-2">
                Ringmann is not liable for any products damaged or lost during shipping. If You received Your Order damaged, please contact the shipment carrier to file a claim.
            </p>
            <p class="text-base font-light pt-2">
                Please save all packaging materials and damaged goods before filing a claim.
            </p>
            <p class="text-2xl pt-5">
                Contact Us
            </p>
            <p class="text-base font-light pt-2">
                If you have any questions about this Shipping Policy, You can contact Us:
            </p>
            <ul class="list-disc text-base font-light py-3 px-8">
                <li>By visiting this page on our website: https://ringmann.in/pages/contact-us</li>
                <li>By sending us an email: sales@ringmann.in</li>
            </ul>
        </div>
    </div>
</section>