
    <div class="container">
        <div class="border border-slate-500 rounded-3xl p-2 border-opacity-30">
            <a [routerLink]="[product.id]">
                <div>
                    <img class="w-full rounded-2xl" src="assets/images/{{product.imgsrc}}">
                </div>
                <div class="text-sm py-3 px-1">
                    <p class="text-slate-600">
                        {{product.name}}
                    </p>
                </div>
                <div class="text-sm py-1 px-1" >
                    <p class="text-slate-600">
                        From ₹ {{product.price}}.00
                    </p>
                </div>
            </a>
        </div>
        <router-outlet></router-outlet>
    </div>
