<section class="px-96 pt-48 pb-12">
    <div class="container flex justify-right">
        <div>
            <p class="text-4xl font-bold">
                COVID-19 Prevention Policy
            </p>
            <p class="text-base font-light pt-5">
                The following measures are being implemented to prevent the spread of COVID-19
            </p>
            <div class="text-base font-light py-5 px-8">
                <ul class="list-disc">
                    <li>Conducting daily health checks</li>
                    <li>Conducting a hazard assessment of the workplace</li>
                    <li>Encouraging employees to wear cloth face coverings in the workplace</li>
                    <li>Policies and practices for social distancing in the workplace</li>
                    <li>Improving the building ventilation system</li>
                    <li>Sanitization of workplace and surroundings </li>
                </ul>
            </div>
            <p class="text-xl pt-5">
                TOTAL QUALITY ASSURANCE DURING COVID-19
            </p>
            <p class="text-base font-light pt-5">
                Ringmann's first priority is always health and safety while delivering outstanding service and products to our customers. All our despatches are being santized before moving out of the premises.
            </p>
            <p class="text-base font-light pt-5">
                Due to COVID-19, you may experience longer wait times for the products to get delivered. We apologize for the inconvenience this may cause and will continue to update you as the situation changes.
            </p>
        </div>
        
    </div>
</section>