<!-- <div>
    <p class="card">
        hello world
    </p>
</div>

<div>
    <p class="bg-black text-white text-3xl p-3 border-4 border-red-600">
        hello world
    </p>
</div> -->

<!-- <app-products-list></app-products-list> -->
<header class="absolute w-full">
    <div class="bg-slate-800">
        <div class="container mx-auto py-2 text-white" >
            <ul class="flex justify-center gap-28">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
                      </svg>                      
                </li>
                <li class="flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>
                    <a href="tel:+911234567890">
                        +91 12345 67890
                    </a>  
                </li>
                <li class="flex gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                      </svg>                      
                    <a href="tel:+911234567890">
                        abc@gmail.com
                    </a>  
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                      </svg>
                </li>
            </ul>
        </div>
    </div>
    <!-- fixed top-0 w-full bg-white shadow-xl  -->
    <div class=" {{isMenuScrolled?'fixed top-0 w-full bg-white shadow-xl':'pt-10'}} z-10">
        <div class="container mx-auto {{isMenuScrolled?'':'border'}} border-slate-500 rounded-lg flex items-center justify-center px-2 py-2 border-opacity-30" >
            <ul class="flex font-bold text-slate-700 text-lg">
                <li>
                    <a>
                        <img src="assets/images/logo.png" width="238" height="50"/>
                    </a>
                </li>
                <li class="mx-3 px-5 py-3">
                    <a [routerLink]="['home']">Home</a>
                </li>
                <li class="mx-3 px-5 py-3 relative hover:bg-slate-200 group z-10">
                    <a class="group-hover:text-white">Technical</a>
                    <ul class="absolute  bg-slate-200 top-14 left-0 hidden group-hover:block w-52">
                        <li class="my-1 hover:bg-slate-400 px-5 py-3">
                            <a [routerLink]="['technical','rp']">Ring Profile</a>
                        </li>
                        <li class="my-1 hover:bg-slate-400 px-5 py-3">
                            <a [routerLink]="['technical','tsc']">Traveller selection for Cotton</a>
                        </li>
                        <li class="my-1 hover:bg-slate-400 px-5 py-3">
                            <a [routerLink]="['technical','tss']">Traveller selection for Synthetic</a>
                        </li>
                        <li class="my-1 hover:bg-slate-400 px-5 py-3">
                            <a [routerLink]="['technical','cc']">Cost Calculator</a>
                        </li>
                        <li class="my-1 hover:bg-slate-400 px-5 py-3">
                            <a [routerLink]="['technical','tco']">Total Cost of Ownership</a>
                        </li>
                    </ul>
                </li>
                <li class="mx-3 px-5 py-3">
                    <a [routerLink]="['products']">Products</a>
                </li>
                <li class="mx-3 px-5 py-3">
                    <a [routerLink]="['contact']">Contact Us</a>
                </li>
                <li class="mx-3 px-5 py-3">
                    <a [routerLink]="['blogs']">Blogs</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
