<details class="duration-300 px-5">
    <summary class="bg-inherit px-5 py-3 text-base hover:underline cursor-pointer ">
        {{filterName}}
    </summary>
    <div class="bg-white px-5 text-base font-light h-[200px] w-[180px] border-2 border-slate-200">
        <!-- <div class="container flex justify-between items-center"> -->
            <div *ngFor="let p of priceRange; let i = index" class="py-1">
                <input type="radio" id={{filterName+i}} value={{p}} [(ngModel)]= "priceRangeValue" (change) = "priceRangeChanged()" name="{{filterName}}"/>
                <label for={{filterName+i}}>
                    {{p}}
                </label>
            </div>
    </div>
    <!-- <div class="bg-white px-5 text-base font-light {{filterName==='Flange'?'h-[140px] w-[200px]':'h-[300px] w-[250px] overflow-scroll'}}  border-2 border-slate-200 ">
        <div *ngFor="let c of checkboxArray[0]; let i = index" class="py-1">
            <div *ngFor="let c1 of checkboxArray[1]; let j = index">
                <input *ngIf="i===j" type="checkbox" value={{i+1}} name={{id+i}} id={{id+i}} [(ngModel)]="checkboxArray[1][j]" (change)="filterValueChanged($event)" />
                <label *ngIf="i===j" for={{id+i}}>
                    {{c}}
                </label>
            </div>
        </div>
    </div> -->
</details>
